@import "../../_globalColor";

.footer-text {
  text-align: center;
  color: $subTitle !important;
}

.dark-mode {
  color: $textColorDark !important;
}

a {
  color: #480032;
  text-decoration: none;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
